/* Apply background color to the entire page */
html, body {
    background-color: #d0daf0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Ensure the container covers the full viewport height */
.roundabout-page-container {
    display: flex;
    min-height: 100vh; /* Ensure it covers at least the full viewport height */
    position: relative;
}

/* Adjust the padding to avoid overflow */
.roundabout-page {
    flex: 3;
    padding: 20px;
    padding-top: 70px;
    padding-left: 310px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding does not cause overflow */
}

/* Center the map */
.roundabout-page-map {
    display: flex;
    justify-content: center;
}

/* Ensure the map does not resize */
.roundabout-page-map img {
    min-width: 1178px;
}

/* Modal styles */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 800px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-button-block {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button-block:hover {
    background-color: #a71101;
}

.modal-button-unblock {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button-unblock:hover {
    background-color: #0056b3;
}

.modal-block {
    margin-left: 125px;
}
