.simulation-page-container {
    display: flex;
    height: 100vh; 
    position: relative;
}

.simulation-page {
    height: calc(100% - 90px);
    flex: 3;
    padding: 20px;
    padding-top: 110px;
    padding-left: 310px;
    background-color: #d0daf0;
    color: #ffffff;
}

.time-quantity-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d0daf0;
    color: #ffffff;
    justify-content: center;
}

.quantity-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%; /* Adjust for two per row */
    height: 100px;
    background-color: #7191D2;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.vehicles-type-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Adjust for 3 per row */
    height: 100px;
    background-color: #7191D2;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.time-card b, .quantity-card b {
    font-size: 25px;
    font-weight: bold;
}

.simulation-info-card {
    padding: 20px;
    background-color: #1c2548;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.simulation-info-card h1 {
    width: 100%;
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.simulation-info-card h4 {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
}

.simulation-info-card ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.simulation-info-card ul li {
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.vehicle-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.simulation-methods-info {
    padding: 20px;
    background-color: #1c2548;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.simulation-methods-info h3 {
    margin-top: 0;
}

.simulation-methods-info ul {
    list-style-type: none;
    padding: 0;
}

.simulation-methods-info ul li {
    margin-bottom: 10px;
}

.simulate-button {
    padding: 15px 30px;
    background-color: #7191d2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    font-size: 18px;
}

.simulate-button:hover {
    background-color: #f47065;
}

@media screen and (max-width: 1400px) {
    .time-card, .quantity-card, .vehicles-type-card {
         width: 100%;
     }
}

@media screen and (max-width: 599px) {
    .vehicle-cards {
         justify-content: center;
     }
}
