.run2d-background {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../asset/teste.png'); /* Atualize com o caminho da sua imagem */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.run3d-background {
    background-image: url('../asset/carla.jpg');
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-run {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131524d0;
    z-index: 1;
}

.text-run {
    text-align: left;
}

.btn-2d-3d {
    color: #ffffff !important;
    font-size: larger !important;
    background-color: #7191D2 !important;
}

.btn-2d-3d:hover {
    background-color: #F47065 !important;
}
