.car-page-container {
    display: flex;
    height: 100vh; 
    position: relative;
}

.car-page {
    height: calc(100%- 90px); 
    flex: 3; 
    padding: 20px;
    padding-top: 110px; 
    padding-left: 310px;
    background-color: #d0daf0;
    color: #ffffff;
}
   
.car-page h1 {
    color: #1c2548;
}
   
.car-page form {
    background-color: #1c2548;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
   
.car-page label {
    display: block;
    margin-bottom: 10px;
}
   
.car-page input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #7191d2;
    color: #ffffff;
    background-color: #1c2548;
}
   
.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
   
.buttons-container button {
    padding: 15px 30px;
    background-color: #7191d2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 20px; 
    right: 20px; 
    font-size: 18px;
}
   
.buttons-container .cancel-button:hover {
    background-color: #f47065;
}
   
.buttons-container .add-button:hover {
    background-color: #7740a4;
}
   